<!DOCTYPE html>
<html ng-app="productStore">
<head>
    <title>Product Store</title>
    <link href="../Styles/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../Styles/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="../Styles/Main.css" rel="stylesheet" />

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-animate.min.js"></script>
    <script src="../scripts/angular-route.min.js"></script>

    <script src="../Controllers/App.js"></script>
    <script src="../Components/Cart.js"></script>
    <script src="../Filters/CustomFilters.js"></script>
    <script src="../Directives/Directives.js"></script>

    <script src="../Controllers/MainController.js"></script>
    <script src="../Controllers/ProductListController.js"></script>
    <script src="../Controllers/CartSummaryController.js"></script>
</head>
<body ng-controller="MainCtrl">
    Rami
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">PRODUCT STORE</a>
        <cart-summary />
    </div>
    <div class="alert alert-danger" ng-show="data.error" ng-cloak>
        Error ({{ ::data.error.status}}). The product data was not loaded.
        <a href="/Views/Products.html" class="alert-link">Click here to try again</a>
    </div>

    <div ng-view class="view-animate"></div>

</body>
</html>